<p id="message"></p>

<form role="form" action="{{ form.vars.action }}" method="{{ form.vars.method }}" name="lpi_newsletter_registration" id="lpi_newsletter_registration">

    {{ form_widget(form._token) }}

    <div class="row-fluid">
        <div class="no-padding col-xs-12 col-xs-offset-0 col-sm-11 col-sm-offset-1 col-lg-10  col-lg-offset-1 ">

            <div class="row-fluid">
                <div class="no-padding col-xs-12 col-sm-12">
                    <div class="row-fluid">
                        <div class="no-padding form-group col-xs-12 col-xs-offset-0 col-sm-5 col-lg-5 col-lg-offset-1">{{ form_widget(form.lastName, {'attr':{'placeholder': 'Nom'}}) }}</div>
                        <div class="no-padding form-group col-xs-12 col-xs-offset-0 col-sm-5 col-lg-5">{{ form_widget(form.firstName, {'attr':{'placeholder': 'Prénom'}}) }}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="no-padding form-group col-xs-12 col-xs-offset-0 col-sm-5 col-lg-5 col-lg-offset-1">{{ form_widget(form.department, {'attr':{'placeholder': 'Code postal'}}) }}</div>
                        <div class="no-padding form-group col-xs-12 col-xs-offset-0 col-sm-5 col-lg-5">{{ form_widget(form.emailAddress, {'attr':{'placeholder': 'Email'}}) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12">
            <h1>Estrosi<span>2015</span></h1>
            <button type="submit">Oui, je m'engage !</button>
        </div>
    </div>

</form>